<footer style="background-color: #EBD1FE !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-auto text-center m-4">
                <a href="#"><img src="../../assets/images/phone.png" alt="Phone" width="60px" height="60px"></a>
            </div>
            <div class="col-12 col-sm-6 col-lg-auto text-center m-4">
                <a href="#"><img src="../../assets/images/mail.png" alt="Mail" width="60px" height="60px"></a>
            </div>
            <div class="col-12 col-sm-6 col-lg-auto text-center m-4">
                <a href="#"><img src="../../assets/images/map.png" alt="Map" width="60px" height="60px"></a>
            </div>
            <div class="col-12 col-sm-6 col-lg-auto text-center m-4">
                <a href="#"><img src="../../assets/images/whatsapp.png" alt="Whatsapp" width="60px" height="60px"></a>
            </div>
            <div class="col-12 col-sm-6 col-lg-auto text-center m-4">
                <a href="#"><img src="../../assets/images/facebook.png" alt="Facebook" width="60px" height="60px"></a>
            </div>
            <div class="col-12 col-sm-6 col-lg-auto text-center m-4">
                <a href="#"><img src="../../assets/images/instagram-sketched.png" alt="Instagram" width="60px" height="60px"></a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="lead" style="font-weight: 500;">Made With &#x2764;, Akshay Sethia</p>
            </div>
        </div>
    </div>
</footer>