<div class="container-fluid">
    <div class="jumbotron" style="background: transparent !important;">
        <div class="container text-center">
            <h1 class="display-4" style="font-variant: small-caps;">Login</h1>
            <p class="lead" style="font-size: x-large; font-variant: small-caps; color: #8F29FF; font-weight: 400;">
                Login and Get your Favourites at Home !</p>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row" *ngIf="errMsg">
        <div class="col text-center">
            <div class="alert alert-danger" role="alert">{{ errMsg }}</div>
        </div>
    </div>
    <div class="row" *ngIf="!loader">
        <div class="col text-center my-auto">
            <form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control my-2" name="email" type="email" id="email" [(ngModel)]="user.email"
                        placeholder="johndoe@xyz.com" #email="ngModel" required>
                    <div class="alert alert-danger" *ngIf="email.errors?.required && email?.touched">
                        Email is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control my-2" name="password" type="password" id="password"
                        [(ngModel)]="user.password" placeholder="JohnDoe123" #password="ngModel" required>
                    <div class="alert alert-danger" *ngIf="password.errors?.required && password?.touched">
                        Password is required
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-outline-danger" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="loader">
        <div class="col-12 text-center">
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>